a, b c {
  color: #1111; }
  a d e i, a f i, a d e j, a f j, b c d e i, b c f i, b c d e j, b c f j {
    display: flex; }
  a g h, b c g h {
    height: 200px; }
    a g h k l, a g h m, b c g h k l, b c g h m {
      width: 40px; }
